body {
    font-family: 'Montserrat', sans-serif;
}

.bg-color-y {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: white;
}

.bg-color-v {
    background-color: violet !important;
    border-color:   violet !important;
    color: white;
}

.bg-color-g {
    background-color: green !important;
    border-color:   green !important;
    color: white;
}

.navbar, .card-header {
    background-color: #ffc107;
    color: #ffffff
}

.container .modal-content {
    position: relative;
}

.img-recipe {
    padding: 0px;
}

.recipeSuggestion {
    padding: 15px;
}

.list-group-item {
    background-color: #fff0 !important;
}

.btn-warning, .btn-outline-warning {
    color: ffffff;
}

.btn-warning:hover, .btn-outline-warning:hover {
    color: ffffff;
    background-color: #ffc107;
}

.input-group-append:hover .fa-search {
    color: #ffc107;
}

.input-group-append .fa-search {
    color: #ffffff
}

.card {
    border-color: #ffc107;
}

.popover {
    display: none;
}

@media only screen and (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .popover {
        display: none;
    }
    
}

@media only screen and (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    .popover {
        display: inline;
    }
}

.custom-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center, center;
}