
.navbar, .card-header {
    background-color: #ffc107;
    color: #ffffff
}

.container .modal-content {
    position: relative;
}

.img-recipe {
    padding: 0px;
}

.recipeSuggestion {
    padding: 15px;
}

.list-group-item {
    background-color: #fff0 !important;
}

.btn-warning, .btn-outline-warning {
    color: ffffff;
}

.btn-warning:hover, .btn-outline-warning:hover {
    color: ffffff;
    background-color: #ffc107;
}

.input-group-append:hover .fa-search {
    color: #ffc107;
}

.input-group-append .fa-search {
    color: #ffffff
}

.card {
    border-color: #ffc107;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
